<div class = "center">
  <ul>
    <h5> Users list</h5>
    <% @search.each do |user| %>
      <div class="card" style="width: 20rem;">
        <img src="" class="card-img-top">
        <div class ="card-body">
          <li>
            <a href="<%= profile_path(user) %>">
              <div class='imgsml'>
                <%=image_tag(user.image,size: '100x100',:class=> "img-circular")if user.image.attached? %>
                <%= user.username %>
              </div> 
            </a>
          </li>
        </div>
     </div>
    <% end %>
  </ul>
</div>