  <h5>
  <ul>
    <li>You can use these features </li>
   
    <li>follow and friends : you can follow anyone profile and make friends with them</li>
    <li>Stories: CircleConnect Stories allow users to share photos and videos that disappear after 24 hours. </li>
    <li>post: you can upload photos and videos on CircleConnect platform</li>
    <li>Like & Commets: you can Like and commet  on anyone post</li>
    <li>also you can view profile any user on CircleConnect app</li>
  
 </ul>
</h3>