
<div class="center"> 
<%=@story.user.username%>
  <div class="card" style="width: 25rem;">
      <div class ="card-body">
        <div class='imgsml'>
         
          <%=image_tag(@story.image,size: '350x400')if @story.image.attached? %>   
          <p><%= @story.content %></p>  
        </div>
      </div>
  </div>
</div>