<div class ="center">
<div class="card" style="width: 25rem;">
    <img src="" class="card-img-top">
    <h5>Comments</h5>
    <% @post.comments.each do |post| %>
    <div class="card" style="width: 25rem;">
    <img src="" class="card-img-top">
     <%=post.comment%><br>
    </div>
    <div>
<%end%>
</div>
</div>
</div>